In [15]:
import argparse
import sys
import pickle
import torch
import torch.nn as nn
import torch.optim as optim
import pandas as pd
from sklearn.feature_selection import SelectKBest, VarianceThreshold
import numpy
from skorch import NeuralNetClassifier

In [16]:
fi = pd.read_csv('feature_importance.csv', delimiter=',')
fi = fi.iloc[:-7]
fi = fi['feature_no'].tolist()

In [17]:
val_call = pd.read_csv('Validation_call.txt', delimiter='\t' )
val_call

,Chromosome,Start,End,Nclone,Array.1,Array.61,Array.70,Array.14,Array.91,Array.58,...,Array.120,Array.108,Array.81,Array.126,Array.92,Array.160,Array.66,Array.83,Array.128,Array.63
0,1,2927,43870,3,0,0,1,-1,0,1,...,0,0,0,0,0,0,0,0,-1,0
1,1,85022,216735,4,0,0,1,-1,0,1,...,0,0,0,0,0,0,-1,0,-1,0
2,1,370546,372295,4,0,0,1,-1,0,-1,...,0,0,0,0,0,0,-1,0,-1,0
3,1,471671,786483,5,0,0,1,-1,0,1,...,0,0,0,0,0,0,-1,0,-1,0
4,1,792533,907406,13,0,0,1,-1,0,1,...,0,0,0,0,0,0,-1,0,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2829,23,153062077,153452633,57,1,1,2,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2830,23,153466463,153491568,4,1,0,2,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2831,23,153504394,153933426,55,1,2,2,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2832,23,153938998,153989329,5,1,2,2,1,1,1,...,1,2,1,1,1,1,1,1,1,1
2833,23,153997146,154492924,43,1,1,2,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [18]:
val_call = val_call.iloc[fi]
val_call

,Chromosome,Start,End,Nclone,Array.1,Array.61,Array.70,Array.14,Array.91,Array.58,...,Array.120,Array.108,Array.81,Array.126,Array.92,Array.160,Array.66,Array.83,Array.128,Array.63
2184,17,35076296,35282086,29,0,2,2,2,0,1,...,2,0,2,1,0,0,-1,0,2,0
192,1,149369522,149394958,5,-1,1,1,-1,0,2,...,2,0,-1,0,2,0,-1,2,-1,1
1061,8,36512939,36612488,5,1,0,0,-1,0,0,...,1,0,-1,2,0,0,0,0,-1,0
1062,8,36627162,36673994,3,1,1,0,-1,0,0,...,1,0,-1,2,0,0,0,0,-1,0
1059,8,36347029,36416687,4,1,0,0,-1,0,0,...,1,0,-1,2,0,0,0,0,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1804,14,29606446,30197701,43,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,-1,0
1703,12,127229464,129598126,225,1,0,1,0,0,0,...,1,0,-1,0,0,0,0,0,0,0
1978,16,33433058,33486907,5,1,0,1,1,0,1,...,1,1,0,1,1,0,0,0,0,0
935,7,50712505,53062228,103,0,1,1,-1,0,1,...,0,0,0,1,0,0,0,0,0,0
2245,17,45521020,45876378,51,0,0,1,0,0,0,...,-1,0,-1,1,0,0,-1,-1,-1,0