In [1]:


import pandas as pd
import argparse
import numpy as np
import torch
import torch.nn as nn
import torchvision
import torchvision.transforms as transforms
from torch.utils.data import TensorDataset, DataLoader, ConcatDataset
from sklearn.model_selection import train_test_split, KFold
import shap
import matplotlib.pyplot as plt

In [5]:
val_call = pd.read_csv('Validation_call.txt', delimiter='\t' )
val_call

,Chromosome,Start,End,Nclone,Array.1,Array.61,Array.70,Array.14,Array.91,Array.58,...,Array.120,Array.108,Array.81,Array.126,Array.92,Array.160,Array.66,Array.83,Array.128,Array.63
0,1,2927,43870,3,0,0,1,-1,0,1,...,0,0,0,0,0,0,0,0,-1,0
1,1,85022,216735,4,0,0,1,-1,0,1,...,0,0,0,0,0,0,-1,0,-1,0
2,1,370546,372295,4,0,0,1,-1,0,-1,...,0,0,0,0,0,0,-1,0,-1,0
3,1,471671,786483,5,0,0,1,-1,0,1,...,0,0,0,0,0,0,-1,0,-1,0
4,1,792533,907406,13,0,0,1,-1,0,1,...,0,0,0,0,0,0,-1,0,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2829,23,153062077,153452633,57,1,1,2,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2830,23,153466463,153491568,4,1,0,2,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2831,23,153504394,153933426,55,1,2,2,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2832,23,153938998,153989329,5,1,2,2,1,1,1,...,1,2,1,1,1,1,1,1,1,1
2833,23,153997146,154492924,43,1,1,2,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [6]:
val_arr = val_call[val_call.columns[-57:]].to_numpy()
val_arr = val_arr.T
val_arr

array([[ 0,  0,  0, ...,  1,  1,  1],
       [ 0,  0,  0, ...,  2,  2,  1],
       [ 1,  1,  1, ...,  2,  2,  2],
       ...,
       [ 0,  0,  0, ...,  1,  1,  1],
       [-1, -1, -1, ...,  1,  1,  1],
       [ 0,  0,  0, ...,  1,  1,  1]])

In [ ]:
predictions = model.predict(val_arr)